.hero {}

.hero__title {
    width: 500px;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 24.021px;
    font-weight: 300;
}

.hero__button {
    width: 228px;
    height: 42px;
    background-color: #FF4E50;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}