.hero {
    background-image: url("../../images/promo/desk-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero__title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 300;
}

.hero__button {
    width: 282px;
    height: 42px;
    background-color: #FF4E50;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
}