/* partners */

.partners {
    margin-left: 52px;
    justify-content: center;
    align-items: center;
}

.partners__title {
    width: 288px;
    color: #333;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
   margin-top: 60px;
   margin-right: -200px;
}
.team__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
}

.team__list-item {
    position: relative;
    text-align: center;
    margin-top: 27px;
    margin-right: 20px;
}

.team__photo {
    width: 120px;
    height: 120px;
    margin-left: 56px;
}

.team__svg {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 145px;
    bottom: 80px;
}

.img__svg {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 155px;
    bottom: 89px;
}

.team__name {
    color: #333;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
}

.team__subtitle {
    width: 250px;
    color: #666;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    margin-top: 13px;
}

.partners__button {
    display: block;
    width: 195px;
    height: 43px;
    background-color: #FFF;
    border: 2px solid #FF4E50;
    border-radius: 20px;
    color: #FF4E50;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    margin: 47px 20px;
}