/* partners */

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 56px;
}

.partners__title {
  color: $titleColor;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.team__list {
}

.team__list-item {
  width: 217px;
  position: relative;
  text-align: center;
  outline: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.team__photo {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.team__svg {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 145px;
  bottom: 80px;
}

.img__svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 155px;
  bottom: 89px;
}

.team__name {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.team__subtitle {
  color: #666;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
}

.partners__button {
  display: block;
  width: 195px;
  height: 43px;
  background-color: transparent;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  color: #ff4e50;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .partners {
    justify-content: center;
    align-items: center;
  }

  .partners__title {
    width: 431px;
  }
  .team__list {
    height: 626px;
    flex-wrap: wrap;
    margin-top: 31px;
  }

  .team__list-item {
    position: relative;
    text-align: center;
    margin-top: 27px;
    margin-right: 20px;
  }
}
